
<div class="box">

    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <td style="width: 50%">

                </td>
                <td style="width: 50%">
                    <div class="box-header">
                        <h3 class="box-title">{{theme.name}}</h3>                                    
                    </div><!-- /.box-header -->
                    <div>Content</div>
                    <div>
                        <button  type="button" class="btn btn-danger" ng-click="install(theme.id)">
                            <i class="glyphicon"></i>
                            <span>Install</span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div><!-- /.box -->
</div>
