<div class="box">
    <form data-ng-controller="ThemeCtrl" ng-submit="submitForm()">
        <div class="row-fluid">
            <div class="alert alert-success" ng-show="success" role="alert">Update success</div>
            <table class="table table-striped files ng-cloak">
                <tr>
                    <td>File Name</td>
                    <td><span >{{file.name}}</span></td>
                </tr>
                <tr> 
                    <td>Size</td>
                    <td>{{file.size}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <input type="hidden" name="id" ng-model="file.id" value="{{file.id}}">
                        <TEXTAREA style="width: 300px; height: 100px" name="description" ng-model="file.description">{{file.description}}</TEXTAREA>
                    </td>

                </tr>
            </table>
        </div>
           <div class="box-footer box-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>