            
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Themes
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Themes</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-3">
            <div ng-show="loading" class="loading"></div>
        </div>
        <div class="col-xs-9">
            <div class="bar-options" ng-controller="ThemeCtrl">
                <a href="javascript:void(0)" ng-click="addTheme()" class="btn btn-primary">Add Themes</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box"  ng-show="load">
                <div class="box-body table-responsive">
                    <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="false">
                        <tr ng-repeat="theme in $data">
                            <td><a href="javascript:void(0)" ng-click="detailTheme(theme.id)"> {{theme.name}} </a></td>
                            <td>{{theme.file}}</td>
                            <td>{{theme.numberDown}}</td>
                            <td>{{theme.published}}</td>
                            <td ng-controller="ThemeCtrl">
                                <button  type="button" class="btn btn-danger" ng-click="install(theme.id)">
                                    <i class="glyphicon"></i>
                                    <span>Install</span>
                                </button>
                                <button  type="button" class="btn" ng-click="edit(theme.id)">
                                    <i class="glyphicon"></i>
                                    <span>Edit</span>
                                </button>
                            </td>
                        </tr>
                    </table>


                </div><!-- /.box -->
            </div>
        </div>
    </div>
</section><!-- /.content -->
<script type="text/ng-template" id="checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>