            
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Setting
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Setting</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="bar-options">
                <a href="#/settings/edit" class="btn btn-primary">Edit Setting</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Setting</h3>                                    
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>Nick Name</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Timezone</td>
                                <td><input type="text"></td>
                            </tr>

                    </table>

                </div><!-- /.box -->
            </div>
        </div>

</section><!-- /.content -->
