            
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div ng-show="loading" class="loading"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box" ng-show="load">
                <div class="box-body table-responsive">
                    <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                        <tr ng-repeat="user in $data">
                            <td width="30"  header="'checkbox.html'">
                                <input type="checkbox" ng-model="checkboxes.items[user.id]" />
                            </td>
                            <td data-title="'Username'" sortable="'username'"  filter="{ 'username': 'text' }"><a href="javascript:void(0)" ng-click="detailUser(user.id)" class="username_{{user.id}}" >{{user.username}}</a></td>
                            <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{user.email}}</td>
                            <td data-title="'Friends'">{{user.friends}}</td>
                            <td data-title="'Count Status'" ng-controller="PostCtrl"><a href="javascript:void(0)" ng-click="listPost(user.id)">{{user.countStatus}}</a> <div class="loading1" ng-show="loadingPost"></div></td>
                            <td data-title="'Count Comment'"  ng-controller="CommentCtrl"><a href="javascript:void(0)" ng-click="listComment(user.id)">{{user.countComment}}</a> <div class="loading1" ng-show="loadingComment"></div></td>
                            <td data-title="'Count Photo'" ng-controller="PhotoCtrl"><a href="javascript:void(0)" ng-click="listPhoto(user.id)">{{user.countPhoto}}</a> <div class="loading1" ng-show="loadingPhoto"></div></td>
                            <td data-title="'Role'" sortable="'role'">{{user.role}}</td>
                            <td data-title="'Status'" sortable="'status'"><a href="javascript:void(0)" ng-click="status(user.id)" class="status_{{user.id}}">{{user.status}}</a></td>
                            <!--                            <td  data-title="'Action'">
                                                            <a href="javascript:void(0)" ng-click="updateUser(user.id)" ><i class="glyphicon glyphicon-edit"></i></a>
                                                            <a href="javascript:void(0)" ng-click="deleteUser(user.id)"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>-->
                        </tr>
                    </table>

                </div><!-- /.box -->
            </div>
        </div>

</section><!-- /.content -->
<script type="text/ng-template" id="checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>