
<div class="box">
    <div class="box-header">
        <h3 class="box-title">My Photos</h3>                                    
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-1"  ng-repeat="photo in result">
                <div style="overflow: hidden; margin-bottom: 10px; width: 100%; height: 70px" >
                    <img class="img-polaroid" src="http://dandelion.local/apps/views/default/webroot/upload/150/{{photo.fileName}}">
                </div>
            </div>
        </div>
    </div><!-- /.box -->
</div>