<div class="box" ng-controller="StatusCtrl">
    <div class="box-body table-responsive">
        <table ng-table="tableParamsDialog" class="table table-bordered table-striped"  show-filter="true">
            <tr ng-repeat="status in $data">
                <td width="30">
                    <input type="checkbox" ng-model="checkboxes.items[status.id]" />
                </td>
                <td data-title="'Content'" sortable="'content'"  filter="{'content': 'text'}"><a href="javascript:void(0)" class="status_{{status.id}}" >{{status.content}}</a></td>
                <td data-title="'Num Like'" sortable="'nLike'" class="status_{{status.id}}" >{{status.nLike}}</td>
                <td data-title="'Num Comment'" class="status_{{status.id}}"  sortable="'nComment'" >{{status.nComment}}</td>
                <td data-title="'Num Shared'" class="status_{{status.id}}"  sortable="'nShared'" >{{status.nShared}}</td>
                <td  data-title="'Action'">
                    <a href="javascript:void(0)" ng-click="updateUser(status.id)" ><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="javascript:void(0)" ng-click="deleteUser(status.id)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        </table>
    </div><!-- /.box -->
</div>