<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="images/avatar.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, <span class="fullName">{{fullName}}</span></p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <!--    <form ng-controller="SearchCtrl" name="searchForm" ng-submit="searchApp()" class="sidebar-form">
            <div class="input-group">
                <input type="text" class="form-control"  ng-model="searchApp.keyword" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#/advancedSearch">
                <i class="fa  fa-search"></i> <span>Advanced search</span>
            </a>
        </li>
        <li>
            <a href="#/manager">
                <i class="fa fa-user"></i> <span>Manager</span> <small class="badge pull-right bg-green">{{countManager}}</small>
            </a>
        </li>
        <li>
            <a href="#/users">
                <i class="fa fa-users"></i> <span>User</span> <small class="badge pull-right bg-green">{{countUser}}</small>
            </a>
        </li>
        <li>
            <a href="#/themes">
                <i class="fa fa-cloud "></i> <span>Themes</span>
                <small class="badge pull-right bg-red">{{countTheme}}</small>
            </a>
        </li>
        <li>
            <a href="#/photos">
                <i class="fa fa-picture-o"></i> <span>Photos</span>
                <small class="badge pull-right bg-yellow">12</small>
            </a>
        </li>
        <li>
            <a href="#/settings">
                <i class="fa fa-gear"></i> <span>Setting</span>
            </a>
        </li>
    </ul>
</section>